{% extends 'layout_admin.html.twig' %}
{% block stylesheet %}
<style>
    .tiles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 1.25rem;
    }
</style>
{% endblock %}
{% block content %}

     <section class="service-section">
                    <h2>Section Categories</h2>
                    <div class="service-section-header">
                        
                    </div>
                    <div class="mobile-only">
                        <button class="flat-button">
                            Toggle search
                        </button>
                    </div>
                    <div class="tiles">
                        <article class="tile">
                            <div class="tile-header">
                                <h3>
                                    <span>Nombre de categories</span>
                                    <span>{{ items|length  }} categories</span>
                                </h3>
                            </div>
                            <a href="/admin/categorie/add">
                                <span>Ajouter categorie</span>
                                <span class="icon-button">
                                    <i class="bi bi-plus-circle-dotted"></i>
                                </span>
                            </a>
                        </article>
                        <article class="tile">
                            <div class="tile-header">
                                <h3>
                                    <span>Produits Lié</span>
                                    <span></span>
                                </h3>
                            </div>
                            <a href="/admin/product">
                                <span>Aller à la section Produit</span>
                                <span class="icon-button">
                                    <i class="bi bi-plus-circle-dotted"></i>
                                </span>
                            </a>
                        </article>

                    </div>
                    <div class="service-section-footer">
                        <p><i class="bi bi-exclamation-square"></i> Attention a gerer vos produits </p>
                    </div>
                </section>
                <section class="transfer-section">
                    <div class="transfer-section-header">
                        <h2>Liste des Categories</h2>
                        <div class="filter-options">
                            <p>Attention a toutes Modification.</p>
                            <button class="icon-button">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button class="icon-button">
                                <i class="bi bi-plus-circle-dotted"></i>
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered text-light rounded">
                        <thead>
                          <tr class="">
                            <th scope="col">Nom</th>
                            <th scope="col">Description</th>
                            <th scope="col">Parent</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>

                            {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description[:10] }}...</td>
                                <td>{{ item.parent_id }}</td>
                                <td>{{ item.image[:10] }}</td>
                                <td class="table_action">
                                    <a href="/admin/categorie/show?id={{ item.id }}"><i class="bi bi-eye"></i></a>
                                    <a href="/admin/categorie/delete?id={{ item.id }}"><i class="bi bi-x-square"></i></a>
                                    <a href="/admin/categorie/edit?id={{ item.id }}"><i class="bi bi-pencil-square"></i></a>
                                </td>
                              </tr>
                            {% else %}
                                <tr>
                                    <th scope="row">Rien a afficher</th>
                                </tr>
                            {% endfor %}


{# MOCK exemple #}

                          {# <tr>
                            <th scope="row">##</th>
                            <td>Categorie</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, nemo!</td>
                            <td>Categorie</td>
                            <td class="table_action" >
                                <a href="#"><i class="bi bi-eye"></i></a>
                                <a href="#"><i class="bi bi-x-square"></i></a>
                                <a href="#"><i class="bi bi-pencil-square"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">##</th>
                            <td>Categorie</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, nemo!</td>
                            <td>Categorie</td>
                            <td class="table_action" >
                                <a href="#"><i class="bi bi-eye"></i></a>
                                <a href="#"><i class="bi bi-x-square"></i></a>
                                <a href="#"><i class="bi bi-pencil-square"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">##</th>
                            <td>Categorie</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, nemo!</td>
                            <td>Categorie</td>
                            <td class="table_action" >
                                <a href="#"><i class="bi bi-eye"></i></a>
                                <a href="#"><i class="bi bi-x-square"></i></a>
                                <a href="#"><i class="bi bi-pencil-square"></i></a>
                            </td>
                          </tr> #}

                        </tbody>
                      </table>
                </section> 
{% endblock %}


{% block content_side %}




{% endblock %}
