{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/cart/cart.css">
{% endblock %}

{% block content %}
<h1>Votre panier !</h1>
{% if status == "updated" %}<h3>Quantité mise à jour</h3>{% endif %}
{% if status == "deleted" %}<h3>Produit supprimé</h3>{% endif %}
{% if status == "added" %}<h3>Produit ajouté</h3>{% endif %}
<div class="display">
    <div class="basket">
        <h2 class="display">Vos articles</h2>
        {% for productAndQty in cart %}
        <ul class="list ul-bg">
            <li>
                <p>{{ productAndQty.product.name }} - {{ productAndQty.product.price|intToCurrency }}</p>
            </li>
            <form action="/cart/update" method="post">
                <input type="hidden" name="id" value="{{ productAndQty.product.id }}">
                <input type="number" name="qty" value="{{ productAndQty.qty }}"> {{ (productAndQty.product.price *
                productAndQty.qty) | intToCurrency }}
                <button class="cart-button">Modifier</button>
            </form>
            <li>
                <p>{{ productAndQty.product.description }}</p>
            </li>
            <form action="/cart/delete" method="POST">
                <input type="hidden" name="id" value="{{ productAndQty.product.id }}">
                <button class="cart-button">Supprimer</button>
            </form>
        </ul>
        {% endfor %}
    </div>
    <div class="checkout">
        <p>Sous-total ( {{ cart.product }} ) articles: total {{ total|intToCurrency }}</p>
        <form action="/cart/order" method="POST">
            <button class="button">Passer la commande</button>
        </form>
    </div>
</div>
{% endblock %}