{% extends 'layout_admin.html.twig' %}

{% block content %}
    <h1>La commande de M/Mme {{ order.0.username }} à {{ order.0.total_amount|intToCurrency }}</h1>
    {% for ord in order %}
    <p>{{ ord.name }} - {{ ord.quantity }} exemplaires - {{ ord.price|intToCurrency }} unité</p>
    <a href="/admin/orderitem/edit?id={{ ord.ordered_id }}">Edit</a>
    {% endfor %}
    <br>
    <a href="/admin/orderitem">Back</a>
{% endblock %}