{% extends 'layout_admin.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/stock/stock.css">
{% endblock %}

{% block content %}

<h1>Le stock</h1>
{% for stoc in stock %}
<div class="main">
    <ul>
        <li>
            <b>{{ stoc.name }}</b> - Quantité : <b>{{ stoc.quantity }}</b> - Crée le <b>{{
                stoc.created_at | date("d/m/Y g:i:sA") }}</b> - Modifié le <b>{{ stoc.updated_at | date("d/m/Y
                g:i:sA") }}</b>
        </li>
        <form action="/admin/stock/update" method="POST" class="form-class">
            <input type="hidden" name="id" value="{{ stoc.id }}">
            <input type="number" class="modify" name="quantity" value="{{ stoc.quantity }}" class="modify">
            <button>Quantité</button>
        </form>
    </ul>
</div>
{% endfor %}

{% endblock %}